.first-letter-bold::first-letter {
    font-size: 32px;
    font-weight: bold;
  }
body{
  margin-left: 4cm;
  margin-right: 4cm;
  text-align: justify;
  font-family: 'Poppins', sans-serif;

}
.header {
    font-size: medium;
    font-family: 'Poppins', sans-serif !important;
    text-align: center;
  }

.daftarisi a {
  text-decoration: none;
}

small {
  color: grey;
}