.first-letter-bold::first-letter {
    font-size: 32px;
    font-weight: bold;
  }
body{
  margin-left: 4cm;
  margin-right: 4cm;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

.header {
    font-size: medium;
    font-family: 'Poppins', sans-serif !important;
    text-align: center;
  }

.daftarisi a {
  text-decoration: none;
}

.header h1{
  font-size: 45px;
}

/* .daftarisi{
  margin-left: 4cm;
} */

small {
  color: grey;
}

.container {
  margin-left: 4cm;
  margin-right: 4cm;
}

/* .intro{
  margin-left: 4cm;
  margin-right: 4cm;
}

.detail{
  margin-left: 4cm;
  margin-right: 4cm;
}

.various {
  margin-left: 4cm;
  margin-right: 4cm;
} */