* {
  font-family: "Poppins";
}

body {
  background-image: url(plane.jpeg);
  background-size: cover;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  height: 100vh;
}

.navbar {
  background-color: rgb(0, 37, 97);
}
