body{
    font-family: sans-serif;
    background: url(bg-airbus.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    height: 100vh;
}